
<article class="post">

  {% if post.external_url %}
    <header class="post-header">
      <h1>
        <a class="post-link" href="{{ post.external_url  }}" target="_blank" title="Permalink to: {{ post.title }}">{{ post.title }}</a>
      </h1>
    </header>
  {% else %}
    <h1>
      <a class="post-link" href="{{ post.social}}" title="Permalink to: {{ post.title }}">{{ post.title }}</a>
    </h1>
    <span class="post-meta">
      <time class="post-date">{{ post.date | date: "%b %-d, %Y" }} - {{ post.time }}{% if post.category %} | {{ post.category }}{% endif %}</time><br>
      {% if post.from %} <time class="post-date">From: {{ post.from }} </time><br> {% endif %}
      {% if post.to %} <time class="post-date">To: {{ post.to }} </time><br> {% endif %}
    </span>
  {% endif %}
</article>