<header class="site-header">

  <div class="container txt-center">
    <nav class="js-menu sliding-panel-content">
      <ul>
        <li><a href="{{ "/" | prepend: site.baseurl }}">home</a></li>
        <li><a href="{{ "/about" | prepend: site.baseurl }}">about</a></li>
      </ul>
    </nav>
    <div class="js-menu-screen sliding-panel-fade-screen"></div>

    <a href="{{ "/" | prepend: site.baseurl }}" class="author-thumb dot">
      <img src="{{ "/images/canada.png" | prepend: site.baseurl }}" alt="Author thumbnail" class="dot">
    </a>

    {% if page.id %}
      <h1 class="post-title">{{ page.title }}</h1>
      <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    {% elsif page.bodyclass == 'page' %}
      <h1 class="post-title">{{ page.title }}</h1>
    {% else %}
      <h1>Diversity is our strength.</h1>
      {% include search.html %}
    {% endif %}

  </div>

</header>
